<div class="container-fluid mt-3">
  <div></div>
  <div class="card shadow-lg border-0 rounded-0" style="width: 18rem">
    <img
      src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
      class="card-img-top rounded-0"
      alt="product_image"
    />
    <div class="card-body">
      <h5 class="card-title">Product Title</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi neque
        facere dicta repudiandae corporis a consequuntur, magnam omnis possimus
        sed fugiat atque
      </p>
      <div class="d-flex flex-column mb-2">
        <p class="card-text m-0 fw-bold">12.00$</p>
        <p class="card-text m-0">barcode77272374sgdjhsg</p>
      </div>

      <div class="products_actions d-flex justify-content-between">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
