<div class="notification-container position-fixed top-0 end-0 p-3">
  <div
    *ngFor="let notification of notifications"
    class="toast align-items-center border-0 fade show"
    [ngClass]="notification.type"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-autohide="true"
    data-bs-delay="5000"
  >
    <div class="d-flex">
      <div class="toast-body">
        <strong>{{ notification.title }}</strong
        ><br />
        {{ notification.message }}
      </div>
      <button
        type="button"
        class="btn-close me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
        (click)="closeNotification(notification)"
      ></button>
    </div>
  </div>
</div>

<!-- <div
  class="toast align-items-center text-bg-primary border-0 fade show"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="d-flex">
    <div class="toast-body">Hello, world! This is a toast message.</div>
    <button
      type="button"
      class="btn-close btn-close-white me-2 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
</div> -->
